@import url("https://fonts.googleapis.com/css?family=Barrio");

.gradient {
   text-align: center;
   max-width: 900px;
   margin: 0 auto;
}
.gradient-text {
   transition: all 1s ease;
   color: #ff1361;
   background-color: #ff1361;
   background: -o-linear-gradient(left, #fff800 10%, #ff1361, #44107a, #7794ff);
   background: -webkit-linear-gradient(left, #fff800 10%, #ff1361, #44107a, #7794ff);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.gradient-text.text1 {
   -webkit-animation: dancingColors 2s infinite forwards ease-in-out;
   animation: dancingColors 2s infinite forwards ease-in-out;
   margin-bottom: 1%;
}
.gradient-text.text2 {
   -webkit-animation: dancingColors 2s -0.5s infinite forwards ease-in-out;
   animation: dancingColors 2s -0.5s infinite forwards ease-in-out;
}

@media screen and (min-width: 0\0) {
   /* IE9 and IE10 hack */
   .gradient-text {
      background: transparent;
   }
}

@-moz-document url-prefix() {
   /* Firefox hack */
   .gradient-text {
      background-color: transparent;
   }
}

.gradient-text.text1 {
   font-size: 40px;
   font-size: calc(25px + (40 - 25) * (100vw - 400px) / (1000 - 400));
   font-family: "Barrio", cursive;
}
.gradient-text.text2 {
   font-size: 30px;
   font-size: calc(20px + (30 - 20) * (100vw - 400px) / (1000 - 400));
   font-family: "Barrio", cursive;
}

@-webkit-keyframes dancingColors {
   50% {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-position: -860px;
   }
}

@keyframes dancingColors {
   50% {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-position: -860px;
   }
}
